.user-input {
    background-color: #000C66;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    scale: 1.3;
  }
  
  
  .user-input button:hover,
  .user-input button:active {
    background-color: #510674;
    border-color: #510674;
  }

  

  .expense-form__actions{
    display:flex;
    justify-content: center;
  }
  .expense-form__actions button {
    scale: 1.2;
    background-color: #29dfd0; /* Green */
    color: white;
    box-shadow: 0 2px #000000;
    margin-right: 24px;
    padding: 10px 20px;
    border: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
  }

  