@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-image: url('C:\Users\thera\Desktop\Learning programming\First-project\first-app\starting-setup\src\Picture\background.jpg');
  margin: 0;
  background-color: #050A30

  ;
}

